.dashboard {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
}

.dashboardTodoSearch {
    display: flex;
}

.dashboardColorPanel {
    display: flex;
}

.dashboardHeader {
    display: flex;
    align-self: center;
}

