.dashboard {
    display: flex;
    flex-flow: column;
    max-width: 400px;
    width: 100%;
}

.dashboardTodoSearch {
    display: flex;
    width: 100%;
}

.dashboardColorPanel {
    display: flex;
    align-items: center;
}

.dashboardHeader {
    display: flex;
    width: 100%;
}

.dashboardTodoGroup {
    display: flex;
    flex-flow: column;
    width: 100%;
}

