.dashboard {
    display: flex;
    flex-flow: column;
    width: 700px;
    margin: auto;
}

.dashboardTodoSearch {
    display: flex;
    align-self: center;
    margin-left: 8%;
}

.dashboardControlPanel {
    display: flex;
    flex-flow: row;
}
