.todoGroup {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.itemsContainer {
    display: flex;
    flex-flow: column;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
}

.titleDateContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top:5px solid;
    height: 45px;
}

.groupDate {
    display: flex;
    align-self: center;
}

.groupTitle {
    display: flex;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
}




