.todoListGroup {
    display: flex;
    width: 400px;
    flex-flow: column;
}

.titleDateGroupContainer {
    display: inline-flex;
    justify-content: space-between;
    border-top:5px solid;
    height: 45px;
}

.todoListItemsInContainer {
    max-height: 200px;
    height: 100%;
    overflow-y: auto;
}

.labelDate {
    align-self: center;
}

.labelTitle {
    display: flex;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
}

