.todoListItem{
    width: 99%;
    height: 50px;
    background-color: bisque;
    display: flex;
    align-items: center;
    border: 1px solid grey;
}

.todoListItemLabel{
    display: flex;
    flex: 1;
    margin: 10px;
}

.checkBoxContainer {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 10%;
    border: 1px solid grey;
}
.todoListItemInput{
    display: flex;
    align-self: center;
    height: 100%;
    width: 40%;
}


