.searchTodoListByTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 400px;
    border: 1px solid gray;
    position: relative;
    background-color: lightgray;
}

 .searchTodoListByTitle input {
    width: 90%;
}

 .searchTodoListByTitle button {
     position: absolute;
     border: none;
     outline: none;
     right: 25px;
 }
